#qrtoolkit-iframe {
  position: absolute;
	box-sizing: border-box;
  border-radius: 5px;
	z-index: 1;
  width: 100%;
  height: 100vh;
  inset: 0;
}

.tabitem:has(* > #qrtoolkit-iframe) {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
}
